body {
  /* font-family: "Georgia", "Times New Roman", serif; */
  background: linear-gradient(to bottom right, #fff8f0, #fce4ec);
  background-image: url("background.png");
  background-size: 100% 960px;
  color: #4b0082;
}